@use "global" as *;

/*-------------------------------------
ヘッダー
-------------------------------------*/
.header {
    height: prem(40);
    background-color: #fff;
    @include mq("md") {
        height: prem(70);
    }
}

.header__inner {
    padding-left: prem(15);
    height: inherit;
    display: flex;
    justify-content: space-between;
    @include mq("md") {
        padding: 0 prem(50);
    }
}

.header__logo {
    max-width: prem(74);
    width: 100%;
    height: inherit;
    @include mq("md") {
        max-width: prem(100);
    }
}

.header__logo a {
    height: inherit;
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav {
    display: none;
    height: inherit;
    @include mq("md") {
        display: block;
    }
}

.header__nav-list {
    display: flex;
    height: inherit;
}

.header__nav-item {
    height: inherit;
}

.header__nav-item.header__nav-item--contact {
    // margin-left: prem(15);
    display: flex;
    align-items: center;
}

.header__nav-item a {
    padding: 0 prem(15);
    height: inherit;
    display: flex;
    align-items: center;
    font-size: prem(15);
    font-weight: 500;
    line-height: 1;
    color: #333;
    text-transform: uppercase;
}

.header__nav-item.header__nav-item--contact a {
    padding: prem(10) prem(20);
    position: relative;
    height: initial;
    color: #fff;
    background-color: #DE8430;
}

.header__hamburger {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    position: relative;
    z-index: 999;
    width: prem(40);
    height: inherit;
    background-color: #DE8430;
    cursor: pointer;
		transition: .3s;
    @include mq("md") {
        display: none;
    }
}

.header__hamburger.is-open {
    background-color: transparent;
}

.header__hamburger span {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: prem(15);
    height: 1px;
    background-color: #fff;
    transition: .5s;
}

.header__hamburger span:nth-of-type(1) {
    top: prem(-4);
}

.header__hamburger span:nth-of-type(2) {
    top: 0;
}

.header__hamburger span:nth-of-type(3) {
    top: prem(4);
}

.header__hamburger.is-open span:nth-of-type(1) {
    top: 0;
    transform: translateX(-50%) rotate(45deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
    opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
    top: prem(-2);
    transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
    padding: prem(228) 0;
    display: none;
    position: absolute;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #623A14, $alpha: .95);
    overflow-y: scroll;
    scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
    display:none;
}

.header__drawer-item a {
    padding: prem(15) 0;
    display: block;
    font-size: prem(36);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
