@use "global" as *;


.inner {
  max-width: $inner + strip-unit($padding-pc) * 2;
  padding-right: prem(strip-unit($padding-pc));
  padding-left: prem(strip-unit($padding-pc));
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    padding-right: prem(strip-unit($padding-sp));
    padding-left: prem(strip-unit($padding-sp));
  }
}